<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
          (click)="scrollIntoView('course-proj-srv-dependency-cont')"> Course Project - Services & Dependency Injection Continued</li> 
      <li class="link"
          (click)="scrollIntoView('teach-directives')"> Teach Directive to Fellows</li>
      <li class="link"
          (click)="scrollIntoView('practice-directives')"> Practice Directives</li>
      <li class="link"
          (click)="scrollIntoView('routing')"> Routing</li> 
    </ul>
  </div>
</div>

<!-- Course Project - Services & Dependency Injection Continued -->
<div class="row" id="course-proj-srv-dependency-cont">
  <h2 class="col-md-3">Course Project - Services & Dependency Injection Continued</h2>
  <div class="col-md-9">
    <div class="point">
      <p>Continue building the application:</p>
      <ul>
        <li>Adding shopping list service continued.</li>
        <li>Using services for "Push Notifications".</li>
        <li>Adding ingredients to recipes.</li>
        <li>Passing ingredients from recipes to the shopping-list.</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Course Project - Services & Dependency Injection Continued -->

<!-- Teach Directives to Fellows -->
<div class="row" id="teach-directives">
  <h2 class="col-md-3">Teach Directives to Fellows</h2>
  <div class="col-md-9">
    <p class="point">Those that were in class on Day 17, find a fellow student who was not. Teach them what you learned about Directives.</p>
  </div>
</div>
<!-- End Teach Directives to Fellows -->

<!-- Practice Directives -->
<div class="row" id="practice-directives">
  <h2 class="col-md-3">Practice Directives</h2>
  <div class="col-md-9">
    <ul class="point">
      <!-- https://medium.com/angularjs/simple-custom-directive-in-angular-2-adc6f159061a -->
      <li>Create a new project.</li>
      <li>Push up to Github before making any changes.</li>
      <li>Create a new branch.</li>
      <li>Create a new directive <i>FontColor</i> manually.</li>
      <li>This directive should change the color of the host element to <i>#EEBA33</i> (using Renderer).</li>
      <li>In AppComponent, add a paragraph.</li>
      <li>Add <i>FontColor</i> attribute directive to the paragraph.</li>
    </ul>
  </div>
</div>
<!-- End Practice Directives -->

<!-- Routing -->
<div class="row" id="routing">
  <h2 class="col-md-3">Routing</h2>
  <div class="col-md-9">
    <div class="point">
      <p>Angular ships with its own router which allows us to change the URL and still only use one page but then exchange major parts of that page.</p>
      <ul>
        <li>Why do we need a Router?</li>
        <li>Understanding the <a href="https://github.com/pratimasakinala/angular-routing" target="_blank">example</a> project.</li>
        <li>Setting up and Loading Routes.</li>
        <li>Navigating with Router Links.</li>
        <br>
        <li>Continued...</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Routing -->