<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
          (click)="scrollIntoView('routing')"> Routing</li> 
    </ul>
  </div>
</div>

<!-- Routing -->
<div class="row" id="routing">
  <h2 class="col-md-3">Routing</h2>
  <div class="col-md-9">
    <p class="point">Angular ships with its own router which allows us to change the URL and still only use one page but then exchange major parts of that page.</p>
    <ul class="point">
      <li>Why do we need a Router?</li>
      <li>Understanding the <a href="https://github.com/pratimasakinala/angular-routing" target="_blank">example</a> project.</li>
      <li>Setting up and Loading Routes.</li>
      <li>Navigating with Router Links.</li>
      <li>Understanding Navigation Paths.</li>
      <li>Styling active Router Links.</li>
      <li>Navigating Programmatically.</li>
      <li>Using Relative Paths in Programmatic Navigation.</li>
      <li>Passing Parameters to Routes.</li>
      <li>Fetching Route Parameters.</li>
      <li>Fetching Route Parameters reactively.</li>
      <li>Important note about Route Observables.</li>
      <li>Passing Query Params and Fragments.</li>
      <li>Retrieving Query Params and Fragments.</li>
      <li>Practicing & some common Gotchas.</li>   
      <li>Setting up Child (nested) routes.</li>   
    </ul>
  </div>
</div>
<!-- End Routing -->