<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
        (click)="scrollIntoView('assignments')"> Assignments</li>
      <li class="link" 
          (click)="scrollIntoView('asgmt-1')"> Practicing Services</li>
    </ul>
  </div>
</div>

<!-- Practicing Services -->
<div class="row" id="asgmt-1">
  <h2 class="col-md-3">Practicing Services</h2>
  <div class="col-md-9">
    <p class="point">Clone <a href="https://github.com/pratimasakinala/services-assignment" target="_blank">this</a> project and follow the instructions mentioned in AppComponent's template.</p>
  </div>
</div>
<!-- End Practicing Services -->