<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
          (click)="scrollIntoView('assignments')"> Assignments</li>
      <li class="link" 
          (click)="scrollIntoView('asgmt-1')"> Practicing Built-in Directives</li>
      <li class="link" 
          (click)="scrollIntoView('asgmt-2')"> Practicing Components & Databinding</li>
      <li class="link" 
          (click)="scrollIntoView('learn-bootstrap')"> Learn Bootstrap</li>
    </ul>
  </div>
</div>

<!-- Assignments -->
<div class="row" id="assignments">
  <h2 class="col-md-3">Assignments</h2>
  <div class="col-md-9">
    <div class="point">
      <p>For each assignment listed below:</p>
      <ul>
        <li>Create a new Angular project (unless stated otherwise).</li>
        <li>Push up to Github before making any changes to the project.</li>
        <li>Create a new branch (give appropriate name) and complete the instructions outlined in that branch.</li>
        <li>Explain why you chose the approach you took? Which problems did you encounter? (add these to a Readme file).</li>
        <li>Create a Pull Request between your branch and master.</li>
        <li>Share the link to your PR with me or tag me as a reviewer (GH username: <code>pratimasakinala</code>).</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Assignments -->

<!-- Practicing Built-in Directives -->
<div class="row" id="asgmt-1">
  <h2 class="col-md-3">Practicing Built-in Directives</h2>
  <div class="col-md-9">
    <div class="point">
      <p><b>Practice 1:</b></p>
      <ul>
        <li>Add a button which says 'Display Details'.</li>
        <li>Add a paragraph with any content of your choice.</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step.</li>
        <li>When the paragraph is displayed, change the button text to 'Hide Details'.</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number).</li>
        <li>Starting at the 10th log item, give all future log items a green background (via ngClass) and white color (ngStyle).</li>
      </ul>
    </div>
    <div class="point">
      <p><b>Practice 2:</b></p>
      <ul>
        <li>Continue working on the <i>monster-fight</i> project.</li>
        <li>Create a new branch.</li>
        <li>Create a <i>hero</i> property.</li>
        <li>Add a new input that sets <i>hero</i>'s name key.</li>
        <li>Add a button which may only be clicked if the hero's name is NOT an empty string.</li>
        <li>Once this button is clicked, generate random power for hero and remove/hide both the input and button (added in the previous two steps) from the DOM.</li>
        <li>Looping though the array of monsters, style the display message such that if the monster's power is greater than hero's, add danger styling.</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Practicing Built-in Directives -->

<!-- Practicing Components & Databinding -->
<div class="row" id="asgmt-2">
  <h2 class="col-md-3">Practicing Components & Directives</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Create three new components(manually or with CLI): <i>GameControl</i>, <i>Odd</i> and <i>Even</i>.</li>
      <li>The GameControl Component should have buttons to start and stop the game.</li>
      <li>When starting the game, an event (holding a incrementing number) should get emitted each second.</li>
      <li>The event should be listenable from outside the component.</li>
      <li>When stopping the game, no more events should get emitted.</li>
      <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even numbers).</li>
      <li>Simply output <i>Odd - NUMBER</i> or <i>Even - NUMBER</i> in the two components.</li>
      <li>Style the element holding your output text differently in both components.</li>
    </ul>
  </div>
</div>
<!-- End Practicing Components & Databinding -->

<!-- Learn Bootstrap -->
<div class="row" id="learn-bootstrap">
  <h2 class="col-md-3">Learn Bootstrap</h2>
  <div class="col-md-9">
    <p class="point">Go through practice and other material listed on Handy Links section for Bootstrap.</p>
  </div>
</div>
<!-- End Learn Bootstrap -->
