<div class="row">
  <h1 class="col-md-12 text-center hdr">Day {{this.day}}</h1>
</div>
<div [ngSwitch]="week">
  <week-1 *ngSwitchCase="1" (scrolledTo)="scrollIntoView($event)"></week-1>
  <week-2 *ngSwitchCase="2" (scrolledTo)="scrollIntoView($event)"></week-2>
  <week-3 *ngSwitchCase="3" (scrolledTo)="scrollIntoView($event)"></week-3>
  <week-4 *ngSwitchCase="4" (scrolledTo)="scrollIntoView($event)"></week-4>
  <week-5 *ngSwitchCase="5" (scrolledTo)="scrollIntoView($event)"></week-5>
  <week-6 *ngSwitchCase="6" (scrolledTo)="scrollIntoView($event)"></week-6>
</div>