<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
          (click)="scrollIntoView('assignments')"> Assignments</li>
      <li class="link"
          (click)="scrollIntoView('asgmt-1')"> Practicing Typescript</li>
      <li class="link" 
          (click)="scrollIntoView('asgmt-2')"> Practicing Components</li>
      <li class="link" 
          (click)="scrollIntoView('asgmt-3')"> Practicing Databinding</li>
      <!-- TODO: move below practice it to next assignment day-->
      <!-- <li class="link" 
          (click)="scrollIntoView('asgmt-4')"> Practicing Directives</li> -->
      <!-- <li class="link" 
          (click)="scrollIntoView('asgmt-5')"> Practicing Components & Databinding</li> -->
    </ul>
  </div>
</div>

<!-- Assignments -->
<div class="row" id="assignments">
  <h2 class="col-md-3">Assignments</h2>
  <div class="col-md-9">
    <div class="point">
      <p>For each assignment listed below:</p>
      <ul>
        <li>Create a new Angular project (unless stated otherwise).</li>
        <li>Push up to Github before making any changes to the project.</li>
        <li>Create a new branch (give appropriate name) and complete the instructions outlined in that branch.</li>
        <li>Explain why you chose the approach you took? Which problems did you encounter? (add these to a Readme file).</li>
        <li>Create a Pull Request between your branch and master.</li>
        <li>Share the link to your PR with me or tag me as a reviewer (GH username: <code>pratimasakinala</code>).</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Assignments -->

<!-- Practicing Typescript -->
<div class="row" id="asgmt-1">
  <h2 class="col-md-3">Practicing Typescript</h2>
  <div class="col-md-9">
    <div class="point">
      <!-- https://basarat.gitbooks.io/typescript/docs/classes.html -->
      <p><b>Practice 1 (Class & Class Inheritance):</b></p>
      <ul>
        <li>Create a class <i>Point</i>.</li>
        <li>Define <i>x</i> and <i>y</i> fields of type number.</li>
        <li>Define a constructor that sets these fields.</li>
        <li>Create a method <i>add</i> that takes in an argument (newPoint) of type Point.</li>
        <li><i>add</i> method should return a new Point generated having x value to be the sum of existing point's x and newPoint's x. Same with the y value.</li>
        <li>Create two variables <i>p1</i> and <i>p2</i> which are instances of Point class.</li>
        <li>Create a third variable <i>p3</i> which adds <i>p2</i> to <i>p1</i>. Print this variable's value to the console.</li>
      </ul>
      <hr>
      <ul>
        <li>Create a derived class <i>Point3D</i> (base class = Point).</li>
        <li>Add <i>z</i> field of type number.</li>
        <li>Setup the constructor to set x and y fields in the base class and z field.</li>
        <li>Create a method <i>add</i> that takes in an argument (new3DPoint) of type Point3D.</li>
        <li>In this method, add respective fields of existing point3D and new3DPoint and return the value.</li>
        <li>Create two variables <i>p3D1</i> and <i>p3D2</i> which are instances of Point3D class.</li>
        <li>Create a third variable <i>p3D3</i> which adds <i>p3D2</i> to <i>p3D1</i>. Print this variable's value to the console.</li>
      </ul>
    </div>
    <div class="point">
      <!-- https://www.tutorialspoint.com/typescript/typescript_interfaces.htm -->
      <p><b>Practice 2 (Interface):</b></p>
      <ul>
        <li>Create an interface <i>Person</i>.</li>
        <li>Define firstName, lastName fields and sayHi method, all of string type.</li>
        <li>Create a <i>customer</i> variable that is of Person type.</li>
        <li>Set some values to the fields. Set sayHi method to return "Hi there" message.</li>
        <li>Create an <i>employee</i> variable that is also of type Person.</li>
        <li>Set some values to the fields with sayHi returning "Hello!!" message.</li>
        <li>Print both customer and employee variables to the console.</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Practicing Typescript -->

<!-- Practicing Components -->
<div class="row" id="asgmt-2">
  <h2 class="col-md-3">Practicing Components</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Create three new Components: <i>WarningMessage</i> (manually), <i>SuccessMessage</i> (using CLI) and <i>DangerMessage</i> (either).</li>
      <li>For WarningMessage Component: 
        <ul>
          <li>use internal template and external styles.</li>
          <li>use default selector.</li>
        </ul>
      </li>
      <li>For SuccessMessage Component: 
        <ul>
          <li>use external template and inline styles.</li>
          <li>use attribute selector.</li>
        </ul>
      </li>
      <li>For DangerMessage Component: 
        <ul>
          <li>use external or internal template and styles.</li>
          <li>use class selector.</li>
        </ul>
      </li>
      <li>Output them next to each other in the AppComponent.</li>
      <li>Output an appropriate warning, success or danger message in these Components.</li>
      <li>Style the Components appropriately.</li>
    </ul>
    <hr>
    <p class="point">Feel free to create more components, nest them into each other!</p>
    <hr>
    <p class="point"><b>Additional challenge:</b> Add a button in AppComponent that randomly picks which component to display.</p>
  </div>
</div>
<!-- End Practicing Components -->

<!-- Practicing Databinding -->
<div class="row" id="asgmt-3">
  <h2 class="col-md-3">Practicing Databinding</h2>
  <div class="col-md-9">
    <div class="point">
      <p><b>Practice 1 (String Interpolation):</b></p>
      <ul>
        <li>Create a <i>heading</i> property in AppComponent and set it to "Person Details".</li>
        <li>Create a <i>person</i> property of type any.</li>
        <li>Set <i>person</i> to be an object consisting of name (empty object) and gender (empty string) properties.</li>
        <li>The name property in <i>person</i> should have first and last properties (both of type string and set to some default values).</li>
        <li>In the template, display the heading followed by a paragraph.</li>
        <li>
          Output below message in the paragraph-
          <br>
          <code>
            Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br> 
            City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
          </code>
        </li>
        <li>In the Name section in the paragraph above, display 'Mr' or 'Mrs' based on the gender of the person. (for example: Mr John Doe)</li>
        <li>In the City section, check if person property has a <i>address</i> property. If it exists, display its value. Otherwise leave the text blank.</li>
      </ul>
    </div>
    <div class="point">
      <p><b>Practice 2 (String Interpolation):</b></p>
      <ul>
        <li>Create two properties (<i>first</i> and <i>second</i>) of type number in AppComponent and set some default values.</li>
        <li>Output these properties in the template.</li>
        <li>Output the sum of these properties in the template (Sum of numbers: ___)</li>
        <li>Output the largest of these property values in the template (Largest of numbers: ___)</li>
      </ul>
    </div>
    <div class="point">
      <p><b>Practice 3 (Property Binding):</b></p>
      <ul>
        <li>Create a class <i>Person</i> (fields: name, gender and rating).</li>
        <li>Set appropriate types to above fields.</li>
        <li>Create two variable <i>female</i> and <i>male</i>.</li>
        <li>Set these variables to be instances of Person class (initialize with appropriate values (gender: 'f' for female) and (gender: 'm' for male)).</li>
        <li>Create a <i>person</i> property.</li>
        <li>Create a method that randomly pick between female and male variables and sets it to person property.</li>
        <li>In the template:
          <ul>
            <li>Use property binding to set an h1 tag's content (textContent) to be "Name: ___ ". Fill in the blank with person's name.</li>
            <li>Add two buttons below the h1. One should say "Male" and other "Female".</li>
            <li>These buttons should be disabled if person's gender is male or female respectively.</li>
            <li>On clicking the buttons, person should be set to the opposite gender.</li>
            <li>(For example, if person is originally set to female, only Male button should be enabled. And on clicking this button, person should be set to male. And hence the button should be disabled.)</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="point">
      <p><b>Practice 4:</b></p>
      <ul>
        <li>Call this project <i>monster-fight</i>.</li>
        <li>Work on each of below sections in separate branches (appropriately named).</li>
        <li>
          <p><b>String Interpolation:</b></p>
          <ul>
            <li>Create a <i>monsterName</i> property of type string in AppComponent.</li>
            <!-- <li>Add an Input field which updates a property <i>monsterName</i> via Two-Way-Binding.</li> -->
            <li>Output the monsterName property in a paragraph<!-- below the input-->.</li>
          </ul>
        </li>
        <li>
          <p><b>Property Binding:</b></p>
          <ul>
            <li>Add a button (below the paragraph) which may only be clicked if the monsterName is NOT an empty string.</li>
            <li>Upon clicking the button, generate a random power value for the monster and store it in a property (appropriately named).</li>
            <li>Display a message (with monsterName and power included) below the button for all monsters created.</li>
            <li>Test functionality by adding/removing value of monsterName property.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Practicing Databinding -->

<!-- TODO: move below practice it to next assignment day-->
<!-- Practicing Directives -->
<!-- <div class="row" id="asgmt-4">
  <h2 class="col-md-3">Practicing Directives</h2>
  <div class="col-md-9">
    <div class="point">
      <p><b>Practice 1:</b></p>
      <ul>
        <li>Add a button which says 'Display Details'.</li>
        <li>Add a paragraph with any content of your choice.</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step.</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number).</li>
        <li>Starting at the 10th log item, give all future log items a green background (via ngClass) and white color (ngStyle).</li>
      </ul>
    </div>
    <div class="point">
      <p><b>Practice 2:</b></p>
      <ul>
        <li>Continue working on the <i>monster-fight</i> project.</li>
        <li>Create a new branch.</li>
        <li>Add a new input that binds to <i>hero</i>'s name property.</li>
        <li>Add a button which may only be clicked if the hero's name is NOT an empty string.</li>
        <li>Once this button is clicked, generate random power for hero and remove/hide both the input and button (added in the previous two steps) from the DOM.</li>
        <li>Looping though the array of monsters, style the display message such that if the monster's power is greater than hero's, add danger styling.</li>
      </ul>
    </div>
  </div>
</div> -->
<!-- End Practicing Directives -->

<!-- Practicing Components & Directives -->
<!-- <div class="row" id="asgmt-5">
  <h2 class="col-md-3">Practicing Components & Directives</h2>
  <div class="col-md-9">
    <div class="point">
      <p><b>Practice 1:</b></p>
      <ul>
        <li>Continue working on the monster project.</li>
        <li>Create a new branch.</li>
        <li>Break down the AppComponent into smaller Components.</li>
        <li>Pass necessary property/event into and out of these new Components.</li>
      </ul>
      <hr>
      <p><b>Additional challenge:</b></p>
      <ul>
        <li>Add a 'Fight' button next to each monster message.</li>
        <li>Upon clicking this button, do Math calculations to see if the hero survived the fight.</li>
        <li>If the hero dies, clear the monster list and display 'You Lost!' message and bring back the input for hero and reset the game.</li>
        <li>If the hero survives and the monster has:
          <ul>
            <li>no more power, remove the monster from the list</li>
            <li>some power left, keep the monster in the list</li>
          </ul>
          and let the player continue.
        </li>
        <li>Make any style changes you need/want to.</li>
      </ul>
    </div>
    <div class="point">
      <p><b>Practice 2:</b></p>
      <ul>
        <li>Create three new components(manually or with CLI): <i>GameControl</i>, <i>Odd</i> and <i>Even</i>.</li>
        <li>The GameControl Component should have buttons to start and stop the game.</li>
        <li>When starting the game, an event (holding a incrementing number) should get emitted each second.</li>
        <li>The event should be listenable from outside the component.</li>
        <li>When stopping the game, no more events should get emitted.</li>
        <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even numbers).</li>
        <li>Simply output <i>Odd - NUMBER</i> or <i>Even - NUMBER</i> in the two components.</li>
        <li>Style the element holding your output text differently in both components.</li>
      </ul>
  </div>
  </div>
</div> -->
<!-- End Practicing Components & Directives -->
