<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"> Assingments Solutions</li>
      <li class="link"
          (click)="scrollIntoView('services')"> Services & Dependency Injection</li>
      <li class="link"
          (click)="scrollIntoView('course-proj-srv-dependency')"> Course Project - Services & Dependency Injection</li> 
    </ul>
  </div>
</div>

<!-- Services & Dependency Injection -->
<div class="row" id="services">
  <h2 class="col-md-3">Services & Dependency Injection</h2>
  <div class="col-md-9">
    <p class="point">Services are JavaScript functions, which are responsible for performing a single task. Services may have their associated properties and the methods, which can be included in the component.</p>
    <img src="./assets/services.png" alt="services" class="screenshot">
    <p class="point">Clone <a href="https://github.com/pratimasakinala/services" target="_blank">this</a> project.</p>
    <ul class="point">
      <li>Creating a logging service.</li>
      <li>Injecting LoggingService into Components.</li>
      <li>Creating a data service.</li>
      <li>
        Hierarchical Injector-
        <img src="./assets/hierarchical-injector.png" alt="hierarchical-injector" class="screenshot">
      </li>
      <li>Injecting Services into Services.</li>
      <li>Using Services for cross-component communication.</li>
    </ul>
  </div>
</div>
<!-- End Services & Dependency Injection -->

<!-- Course Project - Services & Dependency Injection -->
<div class="row" id="course-proj-srv-dependency">
  <h2 class="col-md-3">Course Project - Services & Dependency Injection</h2>
  <div class="col-md-9">
    <div class="point">
      <p>Lets add services to our recipe-book application.</p>
      <img src="./assets/services-for-app.png" alt="services for app" class="screenshot">
      <ul>
        <li>Setting up the services.</li>
        <li>Managing recipes in a recipe service.</li>
        <li>Using a service for cross-component communication.</li>
        <li>Adding shopping list service.</li>
        <br>
        <li>Continued...</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Course Project - Services & Dependency Injection -->
