<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
          (click)="scrollIntoView('routing-cont')"> Routing Continued</li>
    </ul>
  </div>
</div>

<!-- Routing Continued -->
<div class="row" id="routing">
  <h2 class="col-md-3">Routing Continued</h2>
  <div class="col-md-9">
    <div class="point">
      <p>Continue learning Routing:</p>
      <ul>  
        <li>Understanding Navigation Paths.</li>
        <li>Styling active Router Links.</li>
        <li>Navigating Programmatically.</li>
        <li>Using Relative Paths in Programmatic Navigation.</li>
        <li>Passing Parameters to Routes.</li>
        <li>Fetching Route Parameters.</li>
        <li>Fetching Route Parameters reactively.</li>
        <li>Important note about Route Observables.</li>
        <li>Passing Query Params and Fragments.</li>
        <li>Retrieving Query Params and Fragments.</li>
        <li>Practicing & some common Gotchas.</li>
        <li>Setting up Child (nested) routes.</li>  
        <li>Using Query Parameters practice.</li> 
        <li>Configuring the handling of Query Parameters.</li>
        <li>Redirecting & Wildcard routes.</li>
        <li>Outsourcing the Route Configuration.</li>
        <li>Introduction to Guards.</li>
        <li>Protecting routes with canActivate.</li>
        <li>Protecting Child (nested) routes with canActivateChild.</li>
        <li>Using a Fake Auth Service.</li>
        <li>Controlling Navigation with canDeactivate.</li>
        <li>Passing Static Data to a Route.</li>
        <li>Resolving dynamic data with resolve guard.</li>
        <li>Understanding Location Strategies.</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Routing Continued -->