.header {
	position: fixed;
	width: 100%;
	z-index: 100;
}

.header .header-background {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 1;
	-webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

.header.has-bg {
	padding-bottom: 15px;
}

.header.has-bg .header-background {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

.header.has-bg.hide-bg .header-background {
	opacity: 0;
}

.header .header-inside {
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 10px;
	position: relative;
    z-index: 10;
}

.header .header-cta {
	float: right;
	font-size: 1.25em;
	height: 75px;
	line-height: 75px;
}

.header .header-cta a {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background: tranparent;
    border: 4px solid #fcda0c;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    padding: 7px 10px;
    line-height: normal;
    text-decoration: none;
	display: block;

	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.header .header-cta a:hover {
    background: #fcda0c;
}

.header .logo {
	margin-bottom: 10px;
}

.header .nav {
	display: block;
	width: 100%;
	text-align: center;
	background: #000;
	color: #fff;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.header .mobile-nav {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

.header .mobile-nav .mobile-nav-icon {
	padding: 15px 15px;
	font-size: 2em;
	color: white;
	cursor: pointer;
	z-index: 110;
	position: absolute;
	top: 0;
	right: 0;
}

.header .mobile-nav .mobile-nav-icon:hover {
	color: #fcda0c;
}

.header .mobile-nav .mobile-nav-menu {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	height: 100%;
	background: rgba(0,0,0,.9);
	color: white;
	width: 0px;
	overflow: hidden;
	-webkit-transition: width 100ms ease;
    -moz-transition: width 100ms ease;
    -o-transition: width 100ms ease;
    transition: width 100ms ease;
	font-size: 1.5em;
}

.header .mobile-nav .mobile-nav-menu > ul {
	padding: 10px;
	padding-right: 100px;
}

.header .mobile-nav .mobile-nav-menu > ul > li {
	width: 100%;
	white-space: nowrap;
	margin-bottom: 10px;
}

.header .mobile-nav .mobile-nav-menu ul li ul.sub-menu {
	padding-left: 30px;
}

.header .mobile-nav .mobile-nav-menu ul li ul.sub-menu li {
	white-space: normal;
}

.header .mobile-nav .mobile-nav-menu a {
	color: white;
}

body.menu-active .header .mobile-nav .mobile-nav-menu {
	width: 100%;
}

html.menu-active,
body.menu-active {
	overflow-y: hidden;
}

.header .nav > ul {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	font-size: 1em;
	padding: 0 10px;
}

.header .nav a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: background-color 250ms ease;
    -moz-transition: background-color 250ms ease;
    -o-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
}

.header .nav > ul {
	margin: 0 auto;
	text-align: center;
}

.header .nav ul li {
	display: inline-block;
	position: relative;
}

.header .nav ul li a {
	display: block;
}

.header .nav > ul > li > a {
	text-transform: uppercase;
	padding: .8em 1em;
	font-size: 1.3em;
}

.header .nav > ul > li > a:focus,
.header .nav > ul > li > a:active,
.header .nav > ul > li > a:hover {
	background: #222;
}

.header .nav > ul > li .sub-menu {
	height: 0;
	overflow: hidden;
	position: absolute;
	background-color: #a11b12;
    border: 1px solid #a11b12;
	font-size: 14px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	text-align: left;

	-webkit-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    transition: opacity 250ms ease;

	-webkit-border-radius: 10px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-topleft: 0;
	border-radius: 10px;
	border-top-left-radius: 0;
	min-width: 100%;
}


.header .nav > ul > li.menu-item-has-children:hover > .sub-menu {
	height: auto;
	overflow: auto;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.header .nav > ul > li.menu-item-has-children > .sub-menu li {
	display: block;
}

.header .nav > ul > li.menu-item-has-children > .sub-menu li a {
	display: block;
	white-space: nowrap;
	padding: 1em;
	font-weight: normal;
}

.header .nav > ul > li.menu-item-has-children > .sub-menu li a:hover,
.header .nav > ul > li.menu-item-has-children > .sub-menu li a:focus,
.header .nav > ul > li.menu-item-has-children > .sub-menu li a:active {
	color: #FFD202;
}

.sub-menu {
	width: 400px;
}

.padding-0 {
	padding: 0 !important;
}

.sub-menu .row {
	width: 100%;
}

@media(max-width: 890px) {
	.sub-menu {
		width: 250px;
	}

	.sub-menu .row .border-bottom {
		border-bottom: 1px solid white;
	}
}

@media(max-width: 560px) {
	.sub-menu {
		width: 200px;
		height: 500px !important;
	}

	.sub-menu .row .bottom-border {
		border-bottom: 1px solid white;
	}
}

@media(max-width: 455px) {
	.sub-menu {
		width: auto;
	}
}