<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
          (click)="scrollIntoView('assignments')"> Assignments</li>
      <li class="link" 
          (click)="scrollIntoView('asgmt-1')"> Practicing Databinding</li>
    </ul>
  </div>
</div>

<!-- Assignments -->
<div class="row" id="assignments">
  <h2 class="col-md-3">Assignments</h2>
  <div class="col-md-9">
    <p class="point text-justify">
      <code>
        <b>NOTE:</b> Complete <i>Practicing Components</i> assignment mentioned <a href="https://pratimasakinala.github.io/angular2course/#/lessons/1/3" target="_blank">here</a>. Then continue working on below assignments.
      </code>
    </p>
    <div class="point">
      <p>For each assignment listed below:</p>
      <ul>
        <li>Create a new Angular project (unless stated otherwise).</li>
        <li>Push up to Github before making any changes to the project.</li>
        <li>Create a new branch (give appropriate name) and complete the instructions outlined in that branch.</li>
        <li>Explain why you chose the approach you took? Which problems did you encounter? (add these to a Readme file).</li>
        <li>Create a Pull Request between your branch and master.</li>
        <li>Share the link to your PR with me or tag me as a reviewer (GH username: <code>pratimasakinala</code>).</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Assignments -->

<!-- Practicing Databinding -->
<div class="row" id="asgmt-1">
  <h2 class="col-md-3">Practicing Databinding</h2>
  <div class="col-md-9">
    <div class="point">
      <p><b>Practice 1 (String Interpolation):</b></p>
      <ul>
        <li>Create a <i>heading</i> property in AppComponent and set it to "Person Details".</li>
        <li>Create a <i>person</i> property of type any.</li>
        <li>Set <i>person</i> to be an object consisting of name (empty object) and gender (empty string) keys.</li>
        <li>The name key in <i>person</i> should have <i>first</i> and <i>last</i> keys (both of type string and set to some default values).</li>
        <li>In the template, display the heading followed by a paragraph.</li>
        <li>
          Output below message in the paragraph-
          <br>
          <code>
            Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br> 
            City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
          </code>
        </li>
        <li>In the Name section in the paragraph above, display 'Mr' or 'Mrs' based on the gender of the person. (for example: Mr John Doe)</li>
        <li>In the City section, check if <i>person</i> property has a <i>address</i> key. If it exists, display its value. Otherwise leave the text blank.</li>
      </ul>
    </div>
    <div class="point">
      <p><b>Practice 2 (String Interpolation):</b></p>
      <ul>
        <li>Create two properties (<i>first</i> and <i>second</i>) of type number in AppComponent and set some default values.</li>
        <li>Output these properties in the template.</li>
        <li>Output the sum of these properties in the template (Sum of numbers: ___).</li>
        <li>Output the largest of these property values in the template (Largest of numbers: ___).</li>
      </ul>
    </div>
    <div class="point">
      <p><b>Practice 3 (Property Binding):</b></p>
      <ul>
        <li>Create a class <i>Person</i> (fields: name, gender and rating).</li>
        <li>Set appropriate types to above fields.</li>
        <li>Create two properties <i>female</i> and <i>male</i>.</li>
        <li>Set these properties to be instances of Person class (initialize with appropriate values (gender: 'f' for female) and (gender: 'm' for male)).</li>
        <li>Create a <i>person</i> property.</li>
        <li>Create a method that randomly pick between <i>female</i> and <i>male</i> properties and sets it to <i>person</i> property.</li>
        <li>In the template:
          <ul>
            <li>Use property binding to set an h1 tag's content (textContent) to be "Name: ___ ". Fill in the blank with <i>person</i>'s name.</li>
            <li>Add two buttons below the h1. One should say "Male" and other "Female".</li>
            <li>These buttons should be disabled if <i>person</i>'s gender is male or female respectively.</li>
            <li>On clicking the buttons, <i>person</i> should be set to the opposite gender.</li>
            <li>(For example, if person is originally set to female, only Male button should be enabled. And on clicking this button, person should be set to male. And hence the button should be disabled.)</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="point">
      <p><b>Practice 4:</b></p>
      <ul>
        <li>Call this project <i>monster-fight</i>.</li>
        <li>Work on each of below sections in separate branches (appropriately named).</li>
        <li>
          <p><b>String Interpolation:</b></p>
          <ul>
            <li>Create a <i>monsterName</i> property of type string in AppComponent.</li>
            <!-- <li>Add an Input field which updates a property <i>monsterName</i> via Two-Way-Binding.</li> -->
            <li>Output the <i>monsterName</i> property in a paragraph<!-- below the input-->.</li>
          </ul>
        </li>
        <li>
          <p><b>Property Binding:</b></p>
          <ul>
            <li>Add a button (below the paragraph) which may only be clicked if the <i>monsterName</i> is NOT an empty string.</li>
            <li>Upon clicking the button, generate a random power value for the monster and store it in a property (appropriately named).</li>
            <li>Display a message (with monsterName and power included) below the button for all monsters created.</li>
            <li>Test functionality by adding/removing value of monsterName property.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Practicing Databinding -->
