<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
          (click)="scrollIntoView('course-proj-cmp-db')"> Course Project - Components & Databinding</li>
    </ul>
  </div>
</div>

<!-- Course Project - Components & Databinding -->
<div class="row" id="course-proj-cmp-db">
  <h2 class="col-md-3">Course Project - Components & Databinding</h2>
  <div class="col-md-9">
    <div class="point">
      <p>Fine tune the course project. Here are the tasks we will do: </p>
      <ul>
        <li>Navigate between recipe and shopping list.</li>
        <li>Select recipe and load it into the details section.</li>
        <li>Add ingredients to the list.</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Course Project - Components & Databinding -->
