<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link" 
          (click)="scrollIntoView('intro')"> Introductions</li>
      <li class="link" 
          (click)="scrollIntoView('angular')"> What is Angular?</li>
      <li class="link" 
          (click)="scrollIntoView('spa')"> What are SPAs?</li>
      <li class="link" 
          (click)="scrollIntoView('framework')"> Angular Framework</li>
      <li class="link" 
          (click)="scrollIntoView('cli')"> Angular CLI</li>
      <li class="link" 
          (click)="scrollIntoView('basics')"> The Basics</li>
      <li class="link" 
          (click)="scrollIntoView('git-branching')"> Git Branching & Pull Requests</li>
      <li class="link" 
          (click)="scrollIntoView('typescript')"> What is Typescript?</li>
    </ul>
  </div>
</div>

<!-- Introductions -->
<div class="row" id="intro">
  <h2 class="col-md-3">Introductions</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Who am I?</li>
      <li>Who are you?</li>
    </ul>
  </div>
</div>
<!-- End Introductions -->

<!-- What is Angular -->
<div class="row" id="angular">
  <h2 class="col-md-3">What is Angular?</h2>
  <div class="col-md-9">
    <p class="point">Angular is a Typescript-based open-source front-end web application framework that allows you to create reactive SPAs.</p>
  </div>
</div>
<!-- End What is Angular -->

<!-- What are SPAs -->
<div class="row" id="spa">
  <h2 class="col-md-3">What are SPAs?</h2>
  <div class="col-md-9">
    <p class="point">Single Page Applications (SPAs) are web applications where the page never changes but is rewritten. There is only one HTML file and a bunch of JS code we get from the server. Every change is rendered in the browser. This approach avoids interruption of user experience between successive pages making application behave more like a desktop application.</p>
  </div>
</div>
<!-- End What are SPAs -->

<!-- Angular Framework -->
<div class="row" id="framework">
  <h2 class="col-md-3">Angular Framework</h2>
  <div class="col-md-9">
    <p class="point">There are various versions of Angular framework available.</p>
    <img src="./assets/angular-framework.png" alt="angular framework versions" class="screenshot">
    <p class="point">Angular 1 was the first Angular framework (released in 2009). It was the first to make single-page-applications and better way of making DOM (Document Object Model) manipulations popular back in the day.</p>
    <p class="point">Angular 2 (2015-2016) was a complete rewrite of Angular 1 to fix many issues mainly performance issues.</p>
    <img src="./assets/angular-framework-evolution.png" alt="angular 2 evolution" class="screenshot">
    <p class="point">Angular 4, 5 and 6 are the latest versions of Angular 2. So in general, we refer to Angular 2 and higher as just "Angular". Angular 1, however, is not related to these version. Therefore Angular 1 is called "AngularJS".</p>
    <img src="./assets/angular-vs-angularjs.png" alt="angular vs angularJs" class="screenshot">
    <p class="point">Currently 6 is the latest version<!-- (which we will be learning) -->. It is not a complete rewrite for every version. These are incremental improvements of Angular 2.</p>
    <img src="./assets/angular2.png" alt="angular latest" class="screenshot">
  </div>
</div>
<!-- End Angular Framework -->

<!-- Angular CLI -->
<div class="row" id="cli">
  <h2 class="col-md-3">Angular CLI</h2>
  <div class="col-md-9">
    <p class="point">Angular projects are more elaborate in regards to their build workflow, there are couple of files that need to be converted before they can run in browser. Angular CLI (Command Line Interface) is the recommended and best way of creating Angular projects as it does all of that work for us and heavily optimizes our code.</p>
    <br>
    <p class="point">In order to make use of Angular CLI, we need to make sure we have NodeJS, npm and CLI installed globally on our machine.</p>
    <br>
    <ul class="point">
      <li>
        <b>Installing or Updating NodeJS -</b>
        <br> 
        Go <a href="https://nodejs.org/en/" target="_blank">here</a> and download the latest version
      </li>
      <br>
      <li>
        <b>Installing or Updating npm -</b> 
        <br>
        Run <code>[sudo] npm install -g npm</code> (sudo maybe required for Mac/Linux)
      </li>
      <br>
      <li>
        <b>Installing the CLI -</b> 
        <br>
        If you have an older version of Angular CLI already installed on your device and want to upgrade, run:
        <br>
        <code>
          npm uninstall -g angular-cli
        </code>
        <br>
        <code>
          npm cache clean
        </code>
        <br>
        <code>npm install -g @angular/cli/@latest</code>
        <br>
        Otherwise just run <code>npm install -g @angular/cli/@latest</code>
      </li>
      <br>
      <li>
        <b>Creating a new project -</b>
        <br>
        <p>Open your terminal/command line and navigate into a folder where you want to create the new project using the <code>cd</code> command.</p>
        <p>Run <code>ng new my-first-app</code> (project name cannot be test as it is a reserved word).</p>
        <p>Navigate into the project. <code>cd my-first-app</code></p>
        <p>Run <code>ng serve</code> (to bring up a development server to run your build so you can see it in the browser)</p>
        <p>Go to <a href="http://localhost:4200/" target="_blank">http://localhost:4200/</a> to see the default angular application the CLI created.</p>
      </li>
      <img src="./assets/common-cli-issues.png" alt="common issues" class="screenshot">
    </ul>
  </div>
</div>
<!-- End Angular CLI -->

<!-- The Basics -->
<div class="row" id="basics">
  <h2 class="col-md-3">The Basics</h2>
  <div class="col-md-9">
    <div class="point">
      <h3>Bootstrap:</h3>
      <p>Stop your server (if it is running). <br> Then run <code>npm install --save bootstrap@3</code>. This is the first step of adding bootstrap to our project. <br> Next step is to edit <i>angular-cli.json</i> file to add "node_modules/boostrap/dist/bootstrap.min.css" to the styles array. <br> Re-run <code>ng serve</code>.</p>
    </div>
    <div class="point">
      <h3>How does an angular app get loaded and started?</h3>
    </div>
  </div>
</div>
<!-- End The Basics -->

<!-- Git Branching & Pull Requests -->
<div class="row" id="git-branching">
  <h2 class="col-md-3">Git Branching & Pull Requests</h2>
  <div class="col-md-9">
    <p class="point">A branch in Git is simply a lightweight movable pointer to commits. The default branch name in Git is <i>master</i>.</p>
    <p class="point">Basic Git commands related to branching:</p>
    <ul class="point">
      <li><code>git branch</code> - lists all available branches</li>
      <li><code>git branch <i>branch-name</i></code> - creates a new branch called <i>branch-name</i> which has a copy of the snapshot of its parent branch (branch you ran this command from)</li>
      <li><code>git checkout <i>branch-name</i></code> - switches to <i>branch-name</i> branch</li>
      <li><code>git checkout -b <i>branch-name</i></code> - combines the functionality of last two commands</li>
      <li><code>git branch -d <i>branch-name</i></code> - deleted <i>branch-name</i> branch</li>
    </ul>
    <p class="point">NOTE: all of the above commands are only for local branches.</p>
    <p class="point">Read more <a href="https://git-scm.com/book/en/v2/Git-Branching-Branches-in-a-Nutshell" target="_blank">here</a> and <a href="https://www.atlassian.com/git/tutorials/using-branches" target="_blank">here</a>.</p>
  </div>
</div>
<!-- End Git Branching & Pull Requests -->

<!-- Typescript -->
<div class="row" id="typescript">
  <h2 class="col-md-3">Typescript</h2>
  <div class="col-md-9">
    <p class="point">We have come across the word Typescript before in the definition of Angular. But what does it mean?</p>
    <p class="point">Typescript is a superset of Javascript. It primarily provides optional static typing, classes and interfaces. It compiles to idiomatic (normal) JavaScript, can dramatically improve your productivity by enabling rich tooling experiences, all while maintaining your existing code and continuing to use the same JavaScript libraries you already love. One of the big benefits is to enable IDEs to provide a richer environment for spotting common errors as you type the code.</p>
    <img src="./assets/typescript.png" alt="typescript" class="screenshot">
    <p class="point">TypeScript makes it easier to write cross-platform, application scale, JavaScript that runs in any browser or in any host.</p>
    <p class="point">Let's go to <a href="https://www.typescriptlang.org/play/" target="_blank">Typescript playground</a> to see what it does.</p>
    <br>
    <div class="point"> <!-- Types -->
      <h3>Types:</h3>
      <p>The Type system represents the different types of values supported by the language. It checks for the validity of the supplied values, before they are stored or manipulated by the program. It further allows for richer code hinting and automated documentation too.</p>
      <p>Built-in types -</p>
      <ul>
        <li>
          <b>Number -</b> Can be used to represent both integers and floats.
        </li>
        <li>
          <b>String -</b> Represents a sequence of Unicode characters.
        </li>
        <li>
          <b>Boolean -</b> Represents logical values (ture or false).
        </li>
        <li>
          <b>Null -</b> Represents an intentional absence of an object value.
        </li>
        <li>
          <b>Undefined -</b> Denotes value given to all uninitialized variables.
        </li>
      </ul>
      <p>Null and undefined - Are they the same?</p>
    </div> <!-- End Types -->
    <div class="point"> <!-- Class -->
      <h3>Class:</h3>
      <p>A class defines a blueprint of what an object should look like and act like and then implements that blueprint by initialising class properties and defining methods.</p>
      <p>A class definition can include the following -</p>
      <ul>
        <li>
          <b>Fields -</b> A field is any variable declared in a class. Fields represent data pertaining to objects.
        </li>
        <li>
          <b>Constructors -</b> Responsible for allocating memory for the objects of the class.
        </li>
        <li>
          <b>Functions -</b> Functions represent actions an object can take. They are also at times reffered to as methods.
        </li>
      </ul>
      <p>These components put together are termed as the data members of the class.</p>
    </div> <!-- End Class -->
  </div>
</div>
<!-- End Typescript -->
