<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
          (click)="scrollIntoView('course-proj-srv-dependency')"> Course Project - Services & Dependency Injection</li>
    </ul>
  </div>
</div>

<!-- Course Project - Services & Dependency Injection -->
<div class="row" id="course-proj-srv-dependency">
  <h2 class="col-md-3">Course Project - Services & Dependency Injection</h2>
  <div class="col-md-9">
    <div class="point">
      <p>Lets add services to our recipe-book application.</p>
      <img src="./assets/services-for-app.png" alt="services for app" class="screenshot">
      <ul>
        <li>Setting up the services.</li>
        <li>Managing recipes in a recipe service.</li>
        <li>Using a service for cross-component communication.</li>
        <li>Adding shopping list service.</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Course Project - Services & Dependency Injection -->