<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
          (click)="scrollIntoView('routing-cont')"> Routing Continued</li> 
    </ul>
  </div>
</div>

<!-- Routing Continued -->
<div class="row" id="routing">
  <h2 class="col-md-3">Routing Continued</h2>
  <div class="col-md-9">
    <div class="point">
      <p>Continued.</p>
      <ul>
        <li>Passing Query Params and Fragments.</li>
        <li>Retrieving Query Params and Fragments.</li>
        <li>Practicing & some common Gotchas.</li>   
        <li>Setting up Child (nested) routes.</li>  
        <li>Using Query Parameters practice.</li> 
        <li>Configuring the handling of Query Parameters.</li>
        <li>Redirecting & Wildcard routes.</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Routing Continued -->