<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link" 
          (click)="scrollIntoView('setup-routing')"> Setup for Routing</li>
      <li class="link"> Chat with Alex</li>      
      <li class="link"> Assingments Solutions</li> 
    </ul>
  </div>
</div>

<!-- Setup for Routing -->
<div class="row" id="setup-routing">
  <h2 class="col-md-3">Setup for Routing</h2>
  <div class="col-md-9">
    <div class="point">
      <p>For those who were not in class on Day 20:</p>
      <ul>
        <li>Clone <a href="https://github.com/pratimasakinala/angular-routing" target="_blank">this</a> project.</li>
        <li>Create a new branch called <i>understanding-nav-paths</i>.</li>
        <li>Pull <i>pratima</i> branch from Github into <i>understanding-nav-paths</i> branch locally.</li>
        <li>Create a new repository in your Github account and set that to be the new remote for the cloned project.</li>
        <li>Push <i>master</i> to new repository.</li>
        <li>Checkout to <i>understanding-nav-paths</i> (no need to push yet).</li>
      </ul>
    </div>
    <br>
    <div class="point">
      <p>Those who were in class on Day 20:</p>
      <ul>
        <li>Create a new branch called <i>understanding-nav-paths</i>.</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Setup for Routing -->
