<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"> Assingments Solutions</li>
      <li class="link" 
          (click)="scrollIntoView('debugging')"> Debugging</li>
      <li class="link" 
          (click)="scrollIntoView('cmp-db-deep-dive')"> Components & Databinding Deep Dive</li>
      <li class="link"
          (click)="scrollIntoView('course-proj-cmp-db')"> Course Project - Components & Databinding</li>
    </ul>
  </div>
</div>

<!-- Debugging -->
<div class="row" id="debugging">
  <h2 class="col-md-3">Debugging</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>Understanding Angular error message</li>
      <li>Debugging in browser using sourcemaps</li>
      <li>Using Augury</li>
    </ul>
  </div>
</div>
<!-- End Debugging -->

<!-- Components & Databinding Deep Dive -->
<div class="row" id="cmp-db-deep-dive">
  <h2 class="col-md-3">Components & Databinding Deep Dive</h2>
  <div class="col-md-9">
    <p class="point">Clone <a href="https://github.com/pratimasakinala/cmp-databinding" target="_blank">this</a> project.</p>
    <ul class="point">
      <li>Splitting App into Components</li>
      <li>Property and event binding -
        <img src="./assets/property-event-binding.png" alt="property & event binding" class="screenshot">
      </li>
      <li>Understanding View Encapsulation</li>
      <li>Local references in Templates</li>
      <li>Accessing template & DOM with @ViewChild</li>
      <li>Using <i>ng-content</i></li>
      <li>Component Lifecycle -
        <img src="./assets/component-lifecycle.png" alt="component lifecycle" class="screenshot">
      </li>
      <li>Accessing <i>ng-content</i> with @ContentChild</li>
    </ul>
  </div>
</div>
<!-- End Components & Databinding Deep Dive -->

<!-- Course Project - Components & Databinding -->
<div class="row" id="course-proj-cmp-db">
  <h2 class="col-md-3">Course Project - Components & Databinding</h2>
  <div class="col-md-9">
    <div class="point">
      <p>Fine tune the course project. Here are the tasks we will do: </p>
      <ul>
        <li>Navigate between recipe and shopping list.</li>
        <li>Select recipe and load it into the details section.</li>
        <li>Add ingredients to the list.</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Course Project - Components & Databinding -->
