<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"> Assingments Solutions</li>
      <li class="link"
          (click)="scrollIntoView('course-proj-srv-dependency')"> Course Project - Services & Dependency Injection</li>
    </ul>
  </div>
</div>

<!-- Course Project - Services & Dependency Injection -->
<div class="row" id="course-proj-srv-dependency">
  <h2 class="col-md-3">Course Project - Services & Dependency Injection</h2>
  <div class="col-md-9"></div>
</div>
<!-- End Course Project - Services & Dependency Injection -->