<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"> Assingments Solutions</li>
      <li class="link" 
        (click)="scrollIntoView('databinding-continued')"> Databinding Continued</li>
      <li class="link" 
        (click)="scrollIntoView('built-in-directives')"> Built-in Directives</li>
      <li class="link" 
        (click)="scrollIntoView('course-proj-basics')"> Course Project - The Basics</li>
    </ul>
  </div>
</div>

<!-- Databinding -->
<div class="row" id="databinding-continued">
  <h2 class="col-md-3">Databinding Continued</h2>
  <div class="col-md-9">
    <ul class="point">
      <li>
        <b>Event Binding</b>
      </li>
      <li>
        <b>Two-way databinding</b>
      </li>
    </ul>
  </div>
</div>
<!-- End Databinding -->

<!-- Built-in Directives -->
<div class="row" id="built-in-directives">
  <h2 class="col-md-3">Built-in Directives</h2>
  <div class="col-md-9">
    <p class="point">A Directive is an instruction in the DOM. Components are directives with template. There are many other directives that don't have a template. We will look at creating custom directives later. But for now let's take a look at built-in angular directives.</p>
    <p class="point"><b>*ngIf -</b> This is a structural directive. It evaluates the expression and then renders the then or else template in its place when expression is truthy or falsy respectively.</p>
    <div class="point">
      <b>ngStyle -</b> This is a attribute directive. The styles are updated according to the value of the expression evaluation: 
      <ul>
        <li><i>keys</i> are style names with an optional suffix (ie 'top.px', 'font-style.em'),</li> 
        <li><i>values</i> are the values assigned to those properties (expressed in the given unit).</li>
      </ul>
    </div>
    <div class="point">
      <b>ngClass -</b> The CSS classes are updated as follows, depending on the type of the expression evaluation:
      <ul>
        <li><i>string -</i> the CSS classes listed in the string (space delimited) are added,</li> 
        <li><i>Array -</i> the CSS classes declared as Array elements are added,</li> 
        <li><i>Object -</i> keys are CSS classes that get added when the expression given in the value evaluates to a truthy value, otherwise they are removed.</li>
      </ul>
    </div>
    <div class="point">
      <b>*ngFor -</b> This is a structural directive. It allows us to build data presentation lists and tables in our HTML templates. It lets you specify an iterable object to iterate over and the name to refer to each item by inside the scope. It also provides other values that can be aliased to local variables:
      <ul>
        <li><i>index -</i> position of the current item in the iterable starting at 0</li>
        <li><i>first -</i> true if the current item is the first item in the iterable</li>
        <li><i>last -</i> true if the current item is the last item in the iterable</li>
        <li><i>even -</i> true if the current index is an even number</li>
        <li><i>odd -</i> true if the current index is an odd number</li>        
      </ul>
    </div>
  </div>
</div>
<!-- End Built-in Directives -->
  
<!-- Course Project - The Basics -->
<div class="row" id="course-proj-basics">
  <h2 class="col-md-3">Course Project - The Basics</h2>
  <div class="col-md-9">
    <p class="point">Build a recipe book & shopping list app. We will be able to manage our recipes, view them in detail and also manage our shopping list and even push ingredients from a recipe directly into the shopping list.</p>
    <div class="point">
      <p>Steps to build the application: </p>
      <ul>
        <li>
          <b>Planning -</b>
          <img src="./assets/project-planning.png" alt="project planning models" class="screenshot">
        </li>
        <li><b>Setting up the application</b></li>
        <li><b>Creating the components</b></li>
        <li><b>Using the components</b></li>
        <br>
        <li>Continued...</li>
      </ul>
    </div>   
  </div>
</div>
<!-- End Course Project - The Basics -->
