<div class="links">
  <div class="row">
    <h1 class="col-md-12 text-center hdr">Handy Links</h1>
  </div>
  <div class="course-container container">
    <div class="row">
      <div class="col-md-12 week-header">
        <h2 class="text-left">Resources</h2>
      </div>
      <div class="col-md-12 link-list">
        <ul>
          <li>
            Generating and Setting up SSH Keys 
            <a href="https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/" target="_blank">https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/</a>
          </li>
          <li>
            Git Repository linking
            <a href="https://help.github.com/articles/adding-an-existing-project-to-github-using-the-command-line/" target="_blank">https://help.github.com/articles/adding-an-existing-project-to-github-using-the-command-line/</a>
          </li>
          <li>
            Git Commands Cheatsheet
            <a href="https://www.git-tower.com/blog/git-cheat-sheet" target="_blank">https://www.git-tower.com/blog/git-cheat-sheet</a>
          </li>
          <li>
            Git Branching 
            <a href="https://www.atlassian.com/git/tutorials/using-branches" target="_blank">https://www.atlassian.com/git/tutorials/using-branches</a>
            <a href="https://git-scm.com/book/en/v2/Git-Branching-Branches-in-a-Nutshell" target="_blank">https://git-scm.com/book/en/v2/Git-Branching-Branches-in-a-Nutshell</a>
            <a href="https://www.atlassian.com/git/tutorials/merging-vs-rebasing" target="_blank">https://www.atlassian.com/git/tutorials/merging-vs-rebasing</a>
          </li>
          <li>
            Bootstrap
            <a href="https://getbootstrap.com/docs/3.3/css/" target="_blank">https://getbootstrap.com/docs/3.3/css/</a>
          </li>
          <li>
            <b>Angular:</b> <br>
            Lifecycle Hooks
            <a href="https://ng2.codecraft.tv/components/lifecycle-hooks/" target="_blank">https://ng2.codecraft.tv/components/lifecycle-hooks/</a>
            Templates
            <a href="https://lishman.io/angular-2-templates" target="_blank">https://lishman.io/angular-2-templates</a>
            Built-in Directives
            <a href="https://codecraft.tv/courses/angular/built-in-directives/overview/" target="_blank">https://codecraft.tv/courses/angular/built-in-directives/overview/</a>
            Renderer2
            <a href="https://alligator.io/angular/using-renderer2/" target="_blank">https://alligator.io/angular/using-renderer2/</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="course-container container">
    <div class="row">
      <div class="col-md-12 week-header">
        <h2 class="text-left">Tools &amp; Practice</h2>
      </div>
      <div class="col-md-12 link-list">
        <ul>
          <li>
            Learn Git
            <a href="https://www.codecademy.com/learn/learn-git" target="_blank">https://www.codecademy.com/learn/learn-git</a>
          </li>
          <li>
            Typescript
            <a href="https://www.udemy.com/typescript/learn/v4/content">https://www.udemy.com/typescript/learn/v4/content</a>
            <a href="https://www.typescriptlang.org/docs/home.html">https://www.typescriptlang.org/docs/home.html</a>
          </li>
          <li>
            Bootstrap
            <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- TODO: add below links -->
<!-- https://angular.io/api/core/Renderer2 -->
