<div class="links">
  <div class="row">
    <h1 class="col-md-12 text-center hdr">Handy Links</h1>
  </div>
  <div class="course-container container">
    <div class="row">
      <div class="col-md-12 week-header">
        <h2 class="text-left">Resources</h2>
      </div>
      <div class="col-md-12 link-list">
        <ul>
          <li>Generating and Setting up SSH Keys <a href="https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/" target="_blank">https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/</a></li>
          <li>
            Git Branching 
            <a href="https://www.atlassian.com/git/tutorials/using-branches" target="_blank">https://www.atlassian.com/git/tutorials/using-branches</a>
            <a href="https://git-scm.com/book/en/v2/Git-Branching-Branches-in-a-Nutshell" target="_blank">https://git-scm.com/book/en/v2/Git-Branching-Branches-in-a-Nutshell</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- TODO: add below links -->
<!-- https://www.udemy.com/typescript/learn/v4/content -->
<!-- https://angular.io/api/core/Renderer2 -->
