<div class="row">
  <h2 class="col-md-3">Concepts</h2>
  <div class="col-md-9">
    <ul class="point">
      <li class="link"
          (click)="scrollIntoView('course-proj-cmp-db')"> Course Project - Components & Databinding</li>
      <li class="link"
          (click)="scrollIntoView('directive')"> Directives</li>
      <li class="link"
          (click)="scrollIntoView('directive')"> Course Project - Directives</li>
      <li class="link"
          (click)="scrollIntoView('services')"> Services</li>
      <!-- services & dependency injection; routing; observables; Forms; pipes; http; authentication; optimizations & ngModules; deployment; animations & testing -->
    </ul>
  </div>
</div>

<!-- Course Project - Components & Databinding -->
<div class="row" id="course-proj-cmp-db">
  <h2 class="col-md-3">Course Project - Components & Databinding</h2>
  <div class="col-md-9">
    <div class="point">
      <p>Fine tune the course project. Here are the tasks we will do: </p>
      <ul>
        <li>Navigate between recipe and shopping list.</li>
        <li>Select recipe and load it into the details section.</li>
        <li>Add ingredients to the list.</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Course Project - Components & Databinding -->
  
<!-- Directives -->
<div class="row" id="directive">
  <h2 class="col-md-3">Directives</h2>
  <div class="col-md-9">
    <p class="point">Attribute vs Structural Directives: </p>
    <img src="./assets/attribute-vs-structural-dir.png" alt="attribute vs structural directives" class="screenshot">
    <div class="point">
      <p>Clone <a href="https://github.com/pratimasakinala/directives" target="_blank">this</a> project to learn:</p>
      <ul>
        <li>Recap of some built-in directives.</li>
        <li>Create Basic Attribute directive.</li>
        <li>Using Renderer (Learn more <a href="https://angular.io/api/core/Renderer2" target="_blank">here</a>).</li>
        <li>HostListener & HostBinding.</li>
        <li>Binding to directive properties.</li>
        <li>Behind the scenes of structural directive.</li>
        <li>Building a Structural directive.</li>
        <li>Understanding ngSwitch.</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Directives -->

<!-- Course Project - Directives -->
<div class="row" id="course-project-dir">
  <h2 class="col-md-3">Course Project - Directives</h2>
  <div class="col-md-9">
    <p class="point">Enhance the app to open the dropdowns which currently don't work.</p>
  </div>
</div>
<!-- End Course Project - Directives -->

<!-- Services -->
<div class="row" id="services">
  <h2 class="col-md-3">Services</h2>
  <div class="col-md-9">
    <p class="point">Services are JavaScript functions, which are responsible for performing a single task. Services may have their associated properties and the methods, which can be included in the component.</p>
    <img src="./assets/services.png" alt="services" class="screenshot">
  </div>
</div>
<!-- End Services -->